*.bak
*.beam
*.core
*.crashdump
*.dump
*.exe
*.log
*.md5
*.o
*.obj
*.out
*.plt
*.set.asn
*.sq3
*.stackdump
*.swo
*.swp
*.tds
*.tws
*~
.erlang.cookie
.eunit
.gdbinit
.idea
.rebar
.rebar3
_*
core
core.*
data
ebin
log
logs
priv
ref

